/* サイドバー */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px; 
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* mapコンテナ */
  #map-container {
    margin-left: 320px;
    height: 100vh;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px; 
  }