<!doctype html>
<html>
  <head>
    <title>Pathos index</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
  </head>

  <body>

    <div id="sidebar">
      <h2>投稿フォーム</h2>
      <form id="info-form">
        <label for="title">タイトル (任意)</label><br>
        <input type="text" id="title" name="title" placeholder="タイトルを入力してください"><br>

        <label for="description">キャプション (任意)</label><br>
        <textarea id="description" name="description" rows="4" placeholder="簡単な説明を入力してください"></textarea><br>

        <label for="image">画像ファイル (必須)</label><br>
        <input type="file" id="image" name="image" accept="image/*" required><br>

        <button type="submit">送信</button>
      </form>
    </div>
    
    <gmp-map center="43.0598309, 141.347055" zoom="4" map-id="DEMO_MAP_ID" id="map-container">
      <gmp-advanced-marker position="43.0598309, 141.347055" title="sapporo" gmp-clickable></gmp-advanced-marker>
    </gmp-map>
  </body>
</html>
