<!doctype html>
<html>
  <head>
    <title>Pathos index</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <header id="app-header">
      <div id="logo">
        <h3>路地共有アプリ</h3>
        <h1>Pathos</h1>
      </div>
      <nav id="nav-links">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>
  
    <!-- コンテンツ領域 -->
    <div id="content">
      <div id="map-container"></div>
    </div>
    
    <div id="sidebar">
      <h2>投稿フォーム</h2>
      <form id="input-form" action="/form_data" method="post" enctype="multipart/form-data">
        <label for="title">タイトル (任意)</label><br>
        <input type="text" id="title" name="title" placeholder="タイトルを入力してください"><br>

        <label for="description">キャプション (任意)</label><br>
        <textarea id="caption" name="caption" rows="4" placeholder="簡単な説明を入力してください"></textarea><br>

        <label for="image">画像ファイル (必須)</label><br>
        <input type="file" id="image" name="image" accept="image/*" required><br>

        <button type="submit">送信</button>
      </form>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
