<!doctype html>
<html>
  <head>
    <title>Pathos index</title>
    <script>
      async function initMap() {
        const contentString = `
          <div>
            <h1>Sapporo</h1>
            <div>
              <p>
                Sapporo center park
              </p>
              <img src="https://www.visit-hokkaido.jp/lsc/upfile/spot/0001/0004/10004_1_l.jpg" width="300" height="200">
            </div>
          </div>`;
        const infoWindow = new google.maps.InfoWindow({
          content: contentString,
          ariaLabel: "sapporo",
        });

        const marker = document.querySelector('gmp-advanced-marker');
        marker.addEventListener('gmp-click', () => {
          infoWindow.open({ anchor: marker });
        });
      }

      async function loadGoogleMapsAPI() {
        try {
          const response = await fetch('/api-key');
          const data = await response.json();
          console.log(data)
          const api_key = data.api_key;

          const script = document.createElement('script');
          script.src = `https://maps.googleapis.com/maps/api/js?key=${api_key}&callback=initMap&libraries=marker&v=beta&solution_channel=GMP_CCS_infowindows_v2`;
          script.defer = true;
          document.head.appendChild(script);
        } catch (error) {
          console.error('APIキー取得ならず', error);
        }
      }

      // 読み込み時にAPIロード
      window.onload = loadGoogleMapsAPI;
    </script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div id="sidebar">
      <h2>投稿フォーム</h2>
      <form id="info-form">
        <label for="title">タイトル (任意)</label><br>
        <input type="text" id="title" name="title" placeholder="タイトルを入力してください"><br>

        <label for="description">キャプション (任意)</label><br>
        <textarea id="description" name="description" rows="4" placeholder="簡単な説明を入力してください"></textarea><br>

        <label for="image">画像ファイル (必須)</label><br>
        <input type="file" id="image" name="image" accept="image/*" required><br>

        <button type="submit">送信</button>
      </form>
    </div>
    
    <gmp-map center="43.0598309, 141.347055" zoom="4" map-id="DEMO_MAP_ID" id="map-container">
      <gmp-advanced-marker position="43.0598309, 141.347055" title="sapporo" gmp-clickable></gmp-advanced-marker>
    </gmp-map>
  </body>
</html>
